# Python
__pycache__/
*.py[cod]
*$py.class
*.spec
dist/
build/
windows/dist/
windows/build/
.env
venv/
env/

# Android / Gradle
.gradle/
**/.gradle/
**/build/
build/
*.apk
*.aab
local.properties
.idea/
*.iml
.DS_Store
*.lock

